body {
    background: green;
}

.cardheart {
    width: 200px;
    height: 400px;
    margin: auto;
    display: inline-flex;
    background: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;

}